<!-- <app-navbar></app-navbar> -->
<div class="container-flex">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-2">
      
      <!-- Adicionamos uma div envolvente para o mapa e o card -->
      <div class="map-container">

        <!-- Mapa -->
        <div id="map" class="mapa"></div>

        <div class="card floating-card end">
          <form [formGroup]="formFilter" (ngSubmit)="filterCityAndDate()">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <label class="form-label">Data</label>
                  <input class="form-control" type="date" formControlName="date">
                </div>
              </div>
            
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-2">
                <label class="form-label">Município</label>
                <select class="form-select" formControlName="codeCity">
                  <option value="" disabled selected>Selecione uma cidade</option>
                  <option *ngFor="let cidade of cidades" [value]="cidade.cdMunicipio">{{ cidade.nmMunicipio }}</option>
                </select>
              </div>
            </div>
            
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-4">
                <button type="submit" class="btn btn-primary" style="width: 100%;">Filtrar</button>
              </div>
            </div>
          </form>
        </div>

        <div class="info-container">
          <div class="info-item"><strong>Quantidade de focos:</strong></div>

          <div class="info-item">
            <strong>País:</strong>  <!-- {{ pais }} -->
          </div>
          
          <div class="separator">
            <strong>|</strong>
          </div>
          
          <div class="info-item">
            <strong>Estado:</strong>  <!-- {{ estado }} -->
          </div>
          
          <div class="separator">
            <strong>|</strong>
          </div>
          
          <div class="info-item">
            <strong>Cidade:</strong>  <!-- {{ cidade }} -->
          </div>
        </div>        
        
        <div class="logo-container">
          <div class="logo">
            <img src="assets/logoGRF.png" alt="Logo Green Future" style="max-width: 400px; max-height: 300px;">
          </div>
          <div class="btn-info">
            <button  class="btn-saiba-mais" (click)="openModal()">Saiba Mais</button>
              <app-modal #modal></app-modal>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="toast-container position-fixed top-0 end-0 p-3" *ngIf="showToast">
  <div id="liveToast" class="toast fade show bg-danger" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <!-- <img src="..." class="rounded me-2" alt="..."> -->
      <strong class="me-auto">Erro</strong>
      <!-- <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button> -->
    </div>
    <div class="toast-body">
      Os campos do formulário são obrigatórios.
    </div>
  </div>

</div>