<!-- <app-navbar></app-navbar> -->
<div class="container-flex">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-2">
      
      <!-- Adicionamos uma div envolvente para o mapa e o card -->
      <div class="map-container">
        <div class="card floating-card end">
          <!-- <div class="card-body"> -->
            <form>
              <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                  <label class="form-label">Data</label>
                  <input class="form-control" type="date">
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-2">
                  <label class="form-label">Munícipio</label>
                  <select class="form-select">
                    <option *ngFor="let cidade of cidades" [value]="cidade.codigoCidade">{{ cidade.nomeCidade }}</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-4">
                  <button (click)="test()" class="btn"  style="width: 100%;">Filtrar</button>
                </div>
              </div>
            </form>
          <!-- </div> -->
        </div>

        <div class="logo-container">
          <div class="logo">
            <img src="assets/logoGRF.png" alt="Logo Green Future" style="max-width: 400px; max-height: 300px;">
          </div>
          <div class="btn-info">
            <button class="btn-saiba-mais">Saiba mais</button>
          </div>
        </div>

        <div class="info-container">
          <div class="info-item"><strong>Quantidade de focos:</strong></div>

          <div class="info-item">
            <strong>Estado:</strong>  <!-- {{ estado }} -->
          </div>
          
          <div class="separator">
            <strong>|</strong>
          </div>
          
          <div class="info-item">
            <strong>Cidade:</strong>  <!-- {{ cidade }} -->
          </div>
          
          <div class="separator">
            <strong>|</strong>
          </div>
          
          <div class="info-item">
            <strong>Imediações:</strong>  <!-- {{ imediacoes }} -->
          </div>
        </div>        
        
        <!-- Mapa -->
        <div id="map" class="mapa"></div>
      </div>
      
    </div>
  </div>
</div>
