<div class="image-background">
    <!-- Logo (no canto superior esquerdo) -->
    <div class="upleft-container">
        <div class="btn-return">
            <strong class="btn-saiba-mais" [routerLink]="''">Retornar ao mapa</strong>
          </div>
        <img src="/assets/landing_page/logo.png" alt="Logo GREENFUTURE" class="img-logo">
    </div>

    <!-- Texto (no lado direito da página) -->
    <div class="right-container">
        <img src="/assets/landing_page/texto.png" alt="Texto" class="img-text">
    </div>

    <!-- Integrantes (no lado esquerdo, com layout flexível) -->
    <div class="left-container">
        <img src="/assets/landing_page/quem_somos.png" alt="Quem Somos" class="img-quemsomos">
        <a href="https://www.linkedin.com/in/cassiobranco" target="_blank">
            <img src="/assets/landing_page/01_cassio.png" alt="Cassio" class="img-integrante">
        </a>
        <a href="https://www.linkedin.com/in/eduardosaid/" target="_blank">
            <img src="/assets/landing_page/02_eduardo.png" alt="Eduardo" class="img-integrante">
        </a>
        <a href="https://www.linkedin.com/in/felipe-lima-294703202/" target="_blank">
            <img src="/assets/landing_page/03_felipe.png" alt="Felipe" class="img-integrante">
        </a>
        <a href="https://www.linkedin.com/in/giovanni-bergamo/" target="_blank">
            <img src="/assets/landing_page/04_giovanni.png" alt="Giovanni" class="img-integrante">
        </a>
        <a href="https://www.linkedin.com/in/leonardofeltrinsouto" target="_blank">
            <img src="/assets/landing_page/05_leonardo.png" alt="Leonardo" class="img-integrante">
        </a>
        <a href="https://www.linkedin.com/in/lincon-amaro-de-arruda/" target="_blank">
            <img src="/assets/landing_page/06_lincon.png" alt="Lincon" class="img-integrante">
        </a>
        <img src="/assets/landing_page/orientador.png" alt="Orientador" class="img-orientador">

    </div>
</div>

