<div class="modal" *ngIf="isOpen">
    <div class="modal-content">
        <img src="assets/logoGRFWhite.png" alt="Logo Green Future" style="max-width: 400px; max-height: 300px;">
        <h3>Monitoramento de focos de incêndio</h3>
        <br>
        <p>Facilitamos o monitoramento dos focos de incêndio no Brasil em tempo real, oferecendo suporte à tomada de decisões tanto por parte da população quanto das autoridades competentes.</p>
        <p>Este projeto é uma resposta à necessidade urgente de ferramentas que possam auxiliar na prevenção e combate a incêndios florestais no Brasil.</p>      
        <ul>
            <li>De janeiro a agosto de 2024 foram queimados 224.381km² dos biomas brasileiros.</li>
            <li>Neste ano, as queimadas no Cerrado aumentaram 25% em relação a 2023, impulsionadas por práticas agrícolas insustentáveis.</li>
            <li>Em 2024, as queimadas em áreas urbanas aumentaram 15%, com destaque para incêndios em favelas, que levantaram preocupações sobre segurança e prevenção.</li>
        </ul>
        <br>
        <p>Site desenvolvido durante a disciplina de UPX 2 dos cursos de Análise e Desenvolvimento de Sistemas e Gestão de TI do Centro Universitário FACENS.</p>
        <button class="button" (click)="close()">Retornar ao mapa</button>
    </div>
</div>
  