/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;  /* Garante que ocupe 100% da altura da tela */
    width: 100%;   /* Garante que ocupe 100% da largura da tela */
    display: flex;
    overflow: hidden; /* Evita barras de rolagem na página inteira */
    background-color: #159656; /* Ajuste a cor de fundo, se necessário */
  }